<h1>Create snippet</h1>
<form class="issues-form" method="post" action="./issues/create">
  <input type="hidden" name="_csrf" value="<%=csrfToken%>">
  <label class="form-label" for="titleInput">
    Title
  </label>
    <input type="text" class="form-control" id="descriptionInput" name="title"
    placeholder="Name of snippet" required="required" autofocus="autofocus" />
  <label class="form-label" for="descriptionInput">
    Description
  </label>
  <textarea class="form-control" id="descriptionInput" name="description"
    placeholder="Enter a new snippet description here" required="required" autofocus="autofocus" rows="6" cols="50"></textarea><br>
  <button type="submit" class="btn btn-primary">Create</button>
</form>