<h1>Update snippet</h1>
<form class="issues-form" method="post" action="./issues/<%= viewData?.id %>/update">
  <input type="hidden" name="_csrf" value="<%=csrfToken%>">
  <label class="form-label" for="titleInput">
    Title
  </label>
    <input type="text" class="form-control" id="descriptionInput" name="title"
    value="<%= viewData?.title %>" required="required" autofocus="autofocus" />
  <label class="form-label" for="descriptionInput">
    Description
  </label>
  <textarea class="form-control" id="descriptionInput" name="description" required="required"
    autofocus="autofocus" rows="6" cols="50"><%= viewData?.description %></textarea><br>
  <label class="form-label" for="authorInput">
  <button type="submit" class="btn btn-primary">Update</button>
</form>