<div class="container">
  <h1>
    Issues - Open/Close
  </h1>
  <p>
    This is an example of an Express website handling persistent data.
  </p>
  <h2>
    Issues
  </h2>
  <p>
    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  </p>
  <p>
  <a class="btn" href="./issues" role="button">View Issues List »</a>
  </p>
</div>
<!-- /container -->